.overlay {
    min-height:100%;
    background-image:url('../../assets/images/background/pexels.png');
    background-size: cover;
    /* background-blend-mode: multiply; */
    background-blend-mode: multiply;
  }
.overlay > img {
  filter: grayscale(100%);
}
.eye {
  right: 30px;
  position: relative;
  top: 20px;
}